.message {
    background-color: white;
    border: 2px solid black;
    padding: 16px;
    margin-bottom: 20px;
}

.message.orange-box{
    background-color: orange;
}


.message.green-box{
    background-color: forestgreen;
}

.dark-theme{
    color: white;
    background-color: black;
}

.dark-theme .message {
    color: white;
    background-color:#3333;
    border-color: gold;
    

}

/* ใช้กับ Dom mouse */

.thumbnail-img{
    width: 200px;
    height: 200px;
}

.big-img{
    width: 400px;
    height: 400px;
}